@font-face {
    font-family: "DMSans-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/DMSans-Regular.woff2") format("woff2"),
        url("../fonts/DMSans-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/DMSans-Medium.woff2") format("woff2"),
        url("../fonts/DMSans-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "DMSans-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/DMSans-Bold.woff2") format("woff2"),
        url("../fonts/DMSans-Bold.woff") format("woff");
    font-display: swap;
}


@font-face {
    font-family: "Rubik-Light";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Rubik-Light.woff2") format("woff2"),
        url("../fonts/Rubik-Light.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Rubik-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Rubik-Regular.woff2") format("woff2"),
        url("../fonts/Rubik-Regular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Rubik-Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Rubik-Medium.woff2") format("woff2"),
        url("../fonts/Rubik-Medium.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "MyriadProRegular";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/MyriadProRegular.woff2") format("woff2"),
        url("../fonts/MyriadProRegular.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Poppins-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.woff2") format("woff2"),
        url("../fonts/Poppins-Bold.woff") format("woff");
    font-display: swap;
}