html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 24px;
    background-color: white;
    @extend %rubic-500;
    color: #7b7b7b;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.wrapper {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    font-size: 14px;
    line-height: 32px;
    color: #7b7b7b;
    @extend %rubic-400;
}

button {
    margin: 0;
    border: none;
    background-color: transparent;
}

