$md-blue: #436372;
$vr-blue: #edf1f4;
$ds-blue: #243f4d;
$ml-blue: #a3bbc8;
$dark-blue: #1f2044;
$med-blue: #234969;
$shade-blue: #667983;

$vl-orange: #fcd7b6;
$vls-orange: #fde3cc;
$light-orange:  #fde7d3;
$slb-orange: #fef7f0;

$vl-brown: #fef7f0;
$light-brown: #feefe2;

$dark-grey: #191919;
$grey: #7b7b7b;
$light-grey: #b3b7b5;
$mini-grey: #e8e4df;
$mds-grey: #414141;
$medium-grey: #585858;
$min-grey: #f8f8f8;


%dmsans-400 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: "DMSans-Medium", sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: "DMSans-Bold", sans-serif;
    font-weight: 700;
}

%rubic-400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400;
}

%rubic-500 {
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500;
}

%myriadpro-400 {
    font-family: "MyriadProRegular", sans-serif;
    font-weight: 400;
}

%poppins-700 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}

@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}

%invisible {
    position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-size: 0;
        z-index: 1;
}