$md-blue: #436372;
$vr-blue: #edf1f4;
$ds-blue: #243f4d;
$ml-blue: #a3bbc8;
$dark-blue: #1f2044;
$med-blue: #234969;

$vl-orange: #fcd7b6;

$vl-brown: #fef7f0;

$dark-grey: #191919;

$grey: #7b7b7b;

%dmsans-400 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: "DMSans-Medium", sans-serif;
    font-weight: 500;
}

%dmsans-700 {
    font-family: "DMSans-Bold", sans-serif;
    font-weight: 700;
}

%rubic-400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400;
}

%rubic-500 {
    font-family: "Rubik-Medium", sans-serif;
    font-weight: 500;
}

%myriadpro-400 {
    font-family: "MyriadProRegular", sans-serif;
    font-weight: 400;
}

%poppins-700 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}