.terms {
    padding-top: 113px;
    color: $ds-blue;

    @include r(992) {
        padding: 80px 15px 0;
    }

    @include r(768) {
        padding: 60px 20px 0;
    }

    @include r(576) {
        padding: 40px 20px 0;
    }

    &__content {
        h2 {
            margin-bottom: 22px;
            @extend %rubic-500;
            font-size: 24px;

            @include r(992) {
                text-align: center;
            }
        }

        ol {
            margin-bottom: 62px;
            display: block;
            list-style-type: none;
            counter-reset: item;

            @include r(992) {
                margin-bottom: 40px;
            }

            @include r(768) {
                margin-bottom: 30px;
            }

        }

        li,
        p {
            @extend %rubic-400;
            font-size: 16px;
            line-height: 1.9;
        }

        li {
            position: relative;
            margin-bottom: 20px;
            padding-left: 40px;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(-n+9)::before,
            &:nth-child(n+10)::before {
                position: absolute;
                top: 0;
                left: 0;
                counter-increment: item;
            }

            &:nth-child(-n+9)::before {
                content: '0'counter(item) '.';
            }

            &:nth-child(n+10)::before {
                content: counter(item) '.';
            }
        }

        p {
            margin-bottom: 52px;

            @include r(992) {
                margin-bottom: 40px;
            }

            @include r(768) {
                margin-bottom: 30px;
            }
        }

    }

}