.board {

    &__wrapper {
        background-color: $slb-orange;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    &__item {
        position: relative;

        svg {
            position: absolute;
            z-index: 1;
            fill: $ml-blue;

        }

        &--right {
            border-right: 1px solid $mini-grey;
            padding: 46px 150px 40px 205px;

            svg {
                width: 51px;
                height: 50px;
                top: 48px;
                left: 148px;
            }
        }

        &--center {
            padding: 38px 136px 40px 187px;

            svg {
                width: 50px;
                height: 30px;
                left: 139px;
            }
        }

        &--left {
            padding: 46px 128px 40px 194px;
            border-left: 1px solid $mini-grey;

            svg {
                width: 50px;
                height: 45px;
                top: 48px;
                left: 143px;
            }
        }

    }

    &__title {
        font-size: 18px;
        line-height: 1;
        color: $mds-grey;
    }

    &__text {
        margin-top: 8px;
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 1.9;
        color: $medium-grey;
        @extend %minimal-text;
    }

    &__info {
        position: relative;
        max-width: 230px;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $light-grey;
            border-radius: 50%;
        }

        &--sup {
            max-width: 200px;
            margin-left: 20px;

            &::before {
                top: 35px;
                left: -45px;
            }
        }

        &--ship {
            margin-left: 30px;

            &::before {
                top: 17px;
                left: -43px;
            }
        }

        &--pay {
            margin-left: 37px;

            &::before {
                top: 34px;
                left: -54px;
            }
        }
    }

}