.design {
    padding: 60px 0 60px;
    text-align: center;

    &__title {
        margin-bottom: 20px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 35px 30px;
    }

    .mixitup-control-active {
        color: $dark-grey;
    }

}

