.products {
    padding: 68px 0 93px;
    text-align: center;

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

    .mixitup-control-active {
        color: $light-grey;
    }
}

