.slider-main {

    &__wrapper {
        position: relative;
        padding: 99px 0 40px;
        background-color: $vl-orange;
        @include r(1200) {
            padding: 80px 0 40px;
        }

        @include r(992) {
            margin-top:53px;
            padding: 20px 0 40px;
        }

        @include r(576) {
            padding: 0 0 10px;
        }

        &::before {
            content: '';
            position: absolute;
            max-width: 634px;
            width: 100%;
            max-height: 634px;
            height: 100%;
            top: 99px;
            right: 10%;
            border-radius: 50%;
            background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0.5) 31.64%, rgba(255, 255, 255, 0.222586) 74.35%, rgba(255, 255, 255, 0) 99.87%);

            @include r(1650) {
                right: 5%;
            }

            @include r(1450) {
                right: 2%;
            }

            @include r(1300) {
                right: 1%;
            }

            @include r(1200) {
                display: none;
            }
        }

    }

    &__item {
        display: flex !important;

        @include r(1200) {
            justify-content: center;
            padding: 0 20px;
        }

        @include r(992) {
            position: relative;
            background: url(../images/slider_home/slide.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
        }

        @include r(768) {
            padding: 0;
            background-size: 90%;
        }
    }

    &__content {
        padding: 115px 0 230px;
        margin-right: 60px;
        max-width: 470px;
        @extend %rubic-500;

        @include r(1200) {
            padding: 20px 0 50px;
            margin-right: 20px;
        }

        @include r(992) {
            margin-right: 0;
            padding: 40px 0 50px;
            text-align: center;
        }

        @include r(576) {
            padding: 20px 0 20px;
        }
    }

    &__title,
    &__text {
        @extend %minimal-text;

        @include r(992) {
            -webkit-line-clamp: 2;
        }
    }

    &__title {
        margin-bottom: 22px;
        font-size: 72px;
        line-height: 1;
        text-transform: uppercase;
        color: $ds-blue;

        @include r(1200) {
            margin-bottom: 15px;
            font-size: 52px;
        }

        @include r(992) {
            margin-bottom: 20px;
            font-size: 48px;
            text-shadow: 2px 2px 2px #fff;
        }

        @include r(768) {
            margin-bottom: 50px;
            font-size: 38px;
            text-shadow: 1px 2px 2px #fff;
        }

        @include r(576) {
            font-size: 24px;
        }
    }

    &__text {
        margin-bottom: 58px;
        @extend %rubic-400;
        font-size: 18px;
        line-height: 1.7;
        color: $md-blue;

        @include r(1200) {
            margin-bottom: 46px;
            font-size: 16px;
        }

        @include r(992) {
            text-shadow: 1px 1px 1px #fff;
        }

        @include r(768) {
            margin-bottom: 100px;
            font-size: 14px;
        }

        @include r(576) {
            margin-bottom: 120px;
        }
    }

    &__link {
        position: relative;
        padding: 22px 100px 22px 30px;
        font-size: 15px;
        color: white;
        background-color: $ml-blue;
        transition: color 0.3s;

        @include r(1200) {
            padding: 15px 100px 15px 30px;
        }

        @include r(576) {
            font-size: 18px;
            padding: 5px 100px 5px 10px;
        }

        svg {
            position: absolute;
            width: 22px;
            height: 9px;
            fill: white;
            top: 27px;
            right: 19px;

            @include r(1200) {
                top: 20px;
            }

            @include r(576) {
                top: 10px;
            }
        }

        &:hover {
            background-color: $ds-blue;
            color: white;
        }
    }

    &__img {
        margin-top: 178px;
        max-width: 640px;
        width: 100%;
        max-height: 264px;
        height: 100%;
        object-fit: cover;

        @include r(1200) {
            margin-top: 0;
            max-width: 60%;
            max-height: 300px;
        }

        @include r(992) {
            display: none !important;
        }
    }

}

.slick-dots {
    display: flex;
    justify-content: center;

    @include r(576) {
        display: none !important;
    }

    li {
        button {
            width: 30px;
            height: 30px;
            font-size: 12px;
            background-color: $vls-orange;
            color: $shade-blue;
            border-radius: 50%;
            margin-right: 11px;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: white;
                color: $ds-blue;
            }
        }

        &.slick-active {
            button {
                background-color: white;
            }
        }
    }
}