.video {
    padding: 60px 0 50px;

    &__popup {
        width: 100%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    &__play {
        position: absolute;
        font-size: 0;
        z-index: -1;

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
        }

        &::before {
            width: 101px;
            height: 101px;
            top: -37px;
            left: -42px;
            background-color: $ml-blue;
            z-index: -2;
        }

        &::after {
            width: 133px;
            height: 133px;
            top: -53px;
            left: -58px;
            background-color: white;
            opacity: 0.4;
            z-index: -3;
        }
    }

}