.video {

    &__popup {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    &__play {
        position: absolute;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            width: 101px;
            height: 101px;
            top: -37px;
            left: -42px;
            background-color: $ml-blue;
            border-radius: 50%;
            z-index: -2;
        }

        &::after {
            content: '';
            position: absolute;
            width: 133px;
            height: 133px;
            top: -53px;
            left: -58px;
            background-color: white;
            opacity: 0.4;
            border-radius: 50%;
            z-index: -3;
        }
    }

}