.video {
    padding: 60px 0 50px;

    &__popup {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 500px;
        height: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        @include r(1200) {
            min-height: 400px;
        }
        @include r(576) {
            min-height: 300px;
        }
    }

    &__play {
        position: absolute;
        font-size: 0;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 22px;
            height: 25px;
            fill: white;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            transition: background-color 0.3s;
        }

        &::before {
            width: 101px;
            height: 101px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $ml-blue;
            z-index: -2;
        }

        &::after {
            width: 133px;
            height: 133px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            opacity: 0.4;
            z-index: -3;
        }

        @include hover-supported() {

            &:before {
                background-color: $vid-blue;
            }

            &:after {
                opacity: 0.7;
            }
        }
    }

}