.product-list {
    padding: 30px 0 120px;

    @include r(992) {
        position: relative;
        padding: 20px 0;
    }

    @include r(768) {
        padding: 60px 0;
    }

    @include r(576) {
        padding: 20px 0 40px;
    }

    &__button,
    &__filter {
        margin-left: 30px;
        margin-bottom: 20px;

        svg {
            width: 21px;
            height: 21px;
            fill: $ml-blue;

            @include hover-supported() {
                fill: $ds-blue;
            }
        }

        &--column {
            svg {
                width: 28px;
                height: 21px;
            }
        }

        &--active {
            svg {
                fill: $ds-blue;
            }
        }

        &--filter {
            display: none;

            @include r(992) {
                display: inline-block;
            }
        }
    }

    &__filter {
        display: none;

        @include r(992) {
            display: inline-block;
        }
    }

    &__inner {
        display: flex;

        @include r(576) {
            flex-direction: column;
        }
    }

    &__sidebar {
        max-width: 270px;
        width: 100%;
        color: $ds-blue;
        transition: transform 1s;

        @include r(992) {
            position: absolute;
            padding-left: 20px;
            width: 150%;
            background-color: white;
            z-index: 5;
            transform: translateX(-200%);
        }

        @include r(576) {
            padding-left: 0;
            margin: 0 auto;
            max-width: 500px;
            width: 100%;
        }

        &--active {
            @include r(992) {
                margin-top: 40px;
                padding: 0 30px;
                max-width: 35%;
                transform: translateX(0);
            }

            @include r(768) {
                max-width: 55%;
            }

            @include r(576) {
                max-width: 100%;
            }

        }
    }

    &__title {
        position: relative;
        margin-bottom: 24px;
        font-size: 18px;
        text-transform: uppercase;
        @extend %minimal-text-1;

        @include r(576) {
            padding-bottom: 10px;
            text-align: center;
            border-bottom: 1px solid $ml-blue;
        }

        &::before {
            content: '';
            position: absolute;
            width: 38px;
            height: 3px;
            left: 111px;
            top: 9px;
            background-color: $ml-blue;

            @include r(576) {
                display: none;
            }
        }
    }

    &__item {
        margin-bottom: 56px;
    }

    &__shop {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;

        @include r(992) {
            margin-bottom: 0;
        }

        @include r(768) {
            justify-content: space-around;
            margin-bottom: 30px;
        }
    }

    &__card {
        margin: 0 0 40px 30px;

        @include r(1200) {
            max-width: 29%;
            min-height: 350px;
        }

        @include r(768) {
            margin-bottom: 20px;
            margin-left: 20px;
            max-width: 270px;
            min-height: 250px;
        }

        @include r(576) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .card-none {
        display: none;
    }

}