html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

ul,
ol {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    outline: 0;
    color: inherit;
    &:focus{
        outline: 1px solid rgba($ml-blue, 0.3);
    }
}

input {
    border: none;
    outline: 0;
    &:focus{
        outline: 1px solid rgba($ml-blue, 0.3);
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    &:focus{
        outline: 1px solid rgba($ml-blue, 0.3);
    }
}

address {
    font-style: inherit;
}
