.lamps-card {
    display: flex;
    justify-content: space-between;
    max-width: 870px;
    width: 100%;
    min-height: 390px;
    background-color: $light-brown;

    &:first-child {
        margin-right: 15px;
    }

    @include r(1200) {
        min-height: 300px;
    }

    @include r(768) {
        margin-bottom: 50px;

        &:first-child {
            margin-right: 0;
        }
    }

    &__images {
        position: relative;
        width: 100%;

        @include r(768) {
            display: inline-block;
            margin: 0 auto;

        }

        img {
            position: absolute;
            bottom: 87px;
            right: 10px;
            max-width: 300px;
            max-height: 400px;
            height: 100%;
            object-fit: cover;

            @include r(1200) {
                bottom: 70px;
                right: -10px;
                max-height: 300px;
            }

            @include r(992) {
                position: relative;
                display: block;
                margin: 0 auto;
            }

            @include r(768) {
                bottom: 0;
                padding: 20px 10px 20px 5px;
            }
        }

    }

    &__inner {
        display: flex;
        flex-direction: column;
        max-width: 440px;
        padding: 80px 140px 90px 10px;
        color: $ds-blue;

        @include r(1440) {
            padding: 60px 20px 60px 10px;
            min-width: 50%;
        }

        @include r(1200) {
            padding: 30px 20px 30px 20px;
        }
    }

    &__title,
    &__text {
        @extend %minimal-text;
    }

    &__title {
        margin-bottom: 15px;
        font-size: 26px;

        @include r(992) {
            font-size: 22px;
        }

        @include r(576) {
            font-size: 18px;
        }

    }

    &__text {
        margin-bottom: 10px;
        @extend %rubic-400;
        font-size: 16px;
        line-height: 1.5;

        @include r(992) {
            font-size: 14px;
        }
    }

    &__link {
        position: relative;
        padding: 18px;
        margin-top: auto;
        max-width: 180px;
        @extend %rubic-500;
        font-size: 15px;
        color: $md-blue;
        border: 1px solid $light-grey;
        border-radius: 5px;
        transition: background-color 0.5s;

        @include r(1200) {
            padding: 10px;
            font-size: 14px;
        }

        @include r(576) {
            padding: 10px 5px;
            max-width: 120px;
            font-size: 12px;
        }

        svg {
            position: absolute;
            top: 23px;
            right: 15px;
            width: 22px;
            height: 9px;
            fill: $ds-blue;

            @include r(1200) {
                top: 13px;
            }

            @include r(576) {
                top: 15px;
                right: 10px;
            }
        }

        &:hover {
            background-color: $vl-orange;
            box-shadow: 2px 2px 2px 2px rgba(73, 66, 66, 0.05);
            border: 1px solid $vl-orange;
        }
    }

}