.card-product {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 35px;
    max-width: 270px;
    min-height: 380px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 8px;

    &__inner {
        position: relative;
        overflow: hidden;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;

            .card-product__choice {
                transform: translateY(0);
            }
        }
    }
&__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
    &__choice {
        position: absolute;
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        max-width: 200px;
        bottom: 60px;
        transform: translateY(500%);
        transition: transform 0.5s;
    }

    &__link {
        position: relative;
        font-size: 0;

        &+& {
            margin-left: 40px;
        }

        path {
            transition: fill 0.3s;
        }

        svg {
            position: relative;
            top: 13px;
            left: 12px;
            fill: $ml-blue;

            &:hover {
                fill: white;
            }
        }

        &--search {
            svg {
                width: 20px;
                height: 20px;

            }
        }

        &--cart {
            svg {
                width: 22px;
                height: 20px;
            }
        }

        &--heart {
            svg {
                width: 22px;
                height: 18px;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 45px;
            height: 45px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            border-radius: 50%;
            background-color: white;
            z-index: -1;
            transition: background-color 0.3s;
        }

        &:hover {
            &:before {
                background-color: $ml-blue;
            }

            path {
                fill: white;
            }
        }
    }

    &__info {
        font-size: 16px;
        margin-top: auto;
    }

    &__subtitle {
        margin-bottom: 10px;
        @extend %dmsans-500;
        color: $ds-blue;
        @extend %minimal-text;
    }

    &__price {
        color: $ml-blue;
    }

}