.footer {
    @extend %rubic-400;
    background-color: white;
    color: $grey;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 93px 0 61px;
        border-bottom: 1px solid #dae4e9;
        @include r(1200){
            flex-wrap: wrap;
            justify-content: space-around;
        }
        @include r(768){
            padding: 50px 30px 0;
        }
        @include r(576){
            padding: 50px 10px 0;
        }
    }

    &__column {
        max-width: 300px;
        width: 100%;
        padding-right: 100px;
        padding-top: 17px;

        @include r(1200){
            margin-bottom: 50px;
            padding-right: 0;
            max-width: 250px;
            flex-wrap: wrap;
            text-align: center;
        }
        @include r(768){
            margin-bottom: 20px;
            text-align: start;
        }
        @include r(576){
            text-align: center;
        }

        &--first {
            padding-top: 0;
            padding-right: 80px;
            @include r(1200){
                padding-right: 20px;
            }
        }

        &--last {
            max-width: 270px;
            width: 100%;
            padding-right: 0;
        }
    }

    &__text {
        margin-bottom: 32px;
        line-height: 1.7;
    }

    &__logo {
        display: block;
        margin-bottom: 24px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 16px;
        color: $dark-blue;
        text-transform: uppercase;
        margin-bottom: 21px;
    }

    &__link {
        color: $grey;
    }

    &__item {
        margin-bottom: 14px;

        &--bottom {
            
            margin-bottom: 0;
            position: relative;
            &+&{
                margin-left: 31px;
            }

            &:not(:last-child) {
                &::before {
                    content: '';
                    position: absolute;
                    background-color: #7b7b7b;
                    width: 1px;
                    height: 17px;
                    right: -16px;
                }
            }
        }

    }

    &__form {
        display: flex;
        @extend %dmsans-400;

    }

    &__plac {
        font-size: 0;
        width: 100%;
    }

    &__input {
        padding: 0 15px;
        min-height: 38px;
        width: 100%;
        font-size: 12px;
        line-height: 1;
        background-color: $vl-brown;
        color: $med-blue;
    }

    &__btn {
        border: none;
        padding: 0 16px;
        max-width: 100px;
        width: 100%;
        min-height: 38px;
        line-height: 1;
        background-color: $ml-blue;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: $md-blue;
        }
    }

    &__bottom {
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include r(768){
            padding: 10px 10px 90px ;
             font-size: 12px;
        }
        @include r(576){
            flex-direction: column;
            justify-content: center;
        }
    }

    &__list {
        &--bottom {
            display: flex;
            justify-content: space-between;
        }
    }

    &__pass {
        display: inline-block;
        margin-bottom: 10px;
        line-height: 1.8;
        color: $grey;
    }

    &__upper {
        text-transform: uppercase;
    }

    &__pass,
    &__uper,
    &__link {
        transition: color 0.3s;

        &:hover {
            color: $dark-grey;
        }
    }
    &__copy{
        @include r(576){
            padding-top: 10px;
            margin-bottom: 20px;
        }
    }

}

.footer-login{
    padding-top: 51px;
}

.footer-about{
    padding-top: 80px;
}

.footer-terms {
    padding-top: 87px;
}