.header {
    padding: 50px 0 43px;

     &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-bottom: 10px;
    @extend %rubic-500;
    font-size: 15px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &+& {
            margin-left: 35px
        }
    }

    &__link {
        font-size: 15px;
        line-height: 1;
        color: $md-blue;

        &--active,
        &:hover {
            color: $ml-blue;
        }
    }

}

.panel {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        position: relative;
        font-size: 0;

        &--search,
        &--cubic,
        &--heart,
        &--cart {
            fill: $md-blue;
            transition: color 0.3s;

            &:hover {
                svg {
                    fill: white;
                }
            }
        }

        &--search,
        &--cubic {
            width: 51px;
            height: 51px;
            border-radius: 50%;
            background-color: $vr-blue;

            svg {
                position: absolute;
                fill: $ds-blue;
            }

            &:hover {
                background-color: $ml-blue;
            }

        }

        &--search {
            margin-right: 21px;

            svg {
                top: 17px;
                left: 17px;
                width: 16px;
                height: 16px;
            }

        }

        &--cubic {

            svg {
                top: 15px;
                left: 15px;
                width: 21px;
                height: 21px;
            }

        }

        &--heart,
        &--cart {

            svg {
                width: 19px;
                height: 17px;
            }

        }

        &--heart {
            &::after {
                content: '';
                position: absolute;
                width: 1px;
                height: 32px;
                top: -8px;
                right: -30px;
                background-color: $light-orange;
            }
        }

    }

    &__shop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 178px;
        height: 51px;
        padding: 0 14px;
        margin-right: 18px;
        background-color: $vl-orange;
        border-radius: 25px;
    }

    &__num {
        position: absolute;
        top: -7px;
        left: 11px;
        width: 16px;
        height: 16px;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $ds-blue;
        background-color: white;
        border-radius: 50%;
    }

}