.news {
    padding: 55px 0 0;

    &__top {
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        margin: 0;
    }

    &__link {
        font-size: 16px;
        transition: color 0.3s;

        svg {
            width: 7px;
            height: 12px;
            margin-left: 15px;
        }

        &:hover,
        & svg {
            color: $vid-blue;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        min-height: 420px;
        background-color: white;

    }

    &__hidden {
        overflow: hidden;
    }

    &__images {
        display: block;
        max-height: 250px;
        height: 100%;
        border-radius: 6px 6px 0 0;
        object-fit: cover;
        transition: filter 0.5s ease-in-out scale 1s;
        transition: 1s;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);

        &:hover {
            -webkit-filter: grayscale(99%);
            filter: grayscale(99%);
            transform: scale(1.2);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 30px 30px;
        min-height: 180px;
    }

    &__content {
        position: relative;
    }

    &__btn {
        position: absolute;
        top: -50px;
        padding: 5px 30px;
        @extend %poppins-700;
        text-transform: uppercase;
        color: white;
        background-color: $ml-blue;
        border-radius: 13px;
    }

    &__text {
        @extend %dmsans-500;
        font-size: 18px;
        line-height: 1.15;
        @extend %minimal-text;

        &:hover {
            color: $vid-blue;
        }
    }

    &__info {
        display: flex;
        margin-top: auto;
        padding-top: 15px;
        @extend %myriadpro-400;
        text-transform: uppercase;
        font-size: 14px;
        border-top: 1px solid $light-grey;
    }

    &__data {
        margin-right: 30px;

        svg {
            width: 20px;
            height: 20px;
            margin-right: 7px;
        }
    }

    &__author {
        svg {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }

}