.partners {
    margin-top: -170px;
    padding: 270px 0 70px;
    min-height: 426px;
    right: 0;
    left: 0;
    bottom: 15px;
    background-color: $slb-orange;
    z-index: -1;

    @include r(768) {
        padding: 270px 10px 20px;
    }


    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;

        @include r(768) {
            flex-wrap: wrap;
            padding-bottom: 0;
        }
    }

    &__item {
        img {
            max-width: 170px;
            max-height: 85px;
            object-fit: cover;
            @include r(768) {
                max-width: 80%;
            }
            @include r(576) {
                max-width: 70%;
            }
        }

        &+& {
            @include r(768) {
                margin-left: 30px;
            }
            @include r(576) {
                margin-left: 15px;
            }
        }
        @include r(768) {
            margin-bottom: 40px;
        }

    }

}

.partners-login {
    margin-top: 0;
    padding: 70px 0 70px;
    min-height: 250px;
    background-color: $slb-orange;
    @include r(768) {
        padding: 70px 10px 20px;
    }
}