.partners {
    margin-top: -180px;
    padding: 270px 0 70px;
    min-height: 426px;
    right: 0;
    left: 0;
    bottom: 15px;
    background-color: $slb-orange;
    z-index: -1;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

}

.partners-login{
    margin-top: 0;
    position: relative;
    padding: 70px 0 70px;
    min-height: 250px;
    background-color: $slb-orange;
}