.sidebar-brand {
    margin-bottom: 50px;

    &__title {
        margin-bottom: 28px;

        &::before {
            left: 72px;
        }
    }

    &__mark {

        display: block;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 2px;
        }

        &--active {
            background-color: $vr-blue;
        }
    }

    &__enter {
        @extend %checkbox-hidden;

        &:checked+.sidebar-brand__checkbox {
            background-color: $vr-blue;
        }
    }

    &__checkbox {
        display: flex;
        justify-content: space-between;
        padding: 13px 0 12px 10px;
        width: 100%;
        @extend %rubic-400;
        font-size: 16px;
        line-height: 1;
        border-radius: 5px;

        @include hover-supported() {
            background-color: $vr-blue;
        }
    }

    &__number {
        width: 75px;
        display: flex;
        justify-content: center;
    }

}