.sidebar-price {
    margin-bottom: 80px;

    &__title {
        margin-bottom: 30px;

        &::before {
            left: 62px;
        }
    }

    &__mark {
        display: flex;
        justify-content: space-between;
        @extend %rubic-400;
        font-size: 16px;
        color: $ds-blue;
    }

    .irs--flat {
        height: 34px;
    }

    .irs--flat .irs-line {
        top: 8px;
        height: 1px;
        background-color: $ml-blue;
        box-shadow: 0px 0px 1px 1px rgba($ml-blue, 0.6);
        border-radius: 1px;
    }

    .irs--flat .irs-handle {
        top: 1px;
        width: 15px;
        height: 15px;
        background-color: $ml-blue;
    }

    .irs--flat .irs-handle>i:first-child {
        display: none;
    }

    .irs--flat .irs-bar {
        top: 8px;
        height: 2px;
        background-color: $ml-blue;
        box-shadow: 0px 0px 1px 2px rgba($ml-blue, 0.6);
    }

    .irs-from,
    .irs-to,
    .irs-single {
        display: none;
    }

    .irs--flat .irs-min,
    .irs--flat .irs-max {
        display: none;
    }
}
