.top {
    padding: 32px 0 28px;
    background-color: $vr-blue;

    @include r(992) {
        margin-top: 55px;
        padding: 5px 0 5px;
    }

    @include r(768) {
        margin-top: 70px;
        padding: 15px 0 12px;
    }

    @include r(576) {
        margin-top: 50px;
        padding: 10px 0 8px;
    }

    &__title {
        margin-bottom: 7px;
        @extend %rubic-300;
        font-size: 36px;
        line-height: 1;
        color: $bcs-blue;
        text-align: center;

        @include r(1200) {
            font-size: 34px;
            margin-bottom: 0;
        }
        @include r(992) {
            font-size: 30px;
            padding: 10px 0 10px;
        }

        @include r(768) {
            font-size: 26px;
            margin-top: 0;
        }

        @include r(576) {
            font-size: 28px;
        }
    }
}