.view-card {
    margin-bottom: 40px;
    display: flex;
    @extend %rubic-400;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 370px;
        width: 100%;
        min-height: 500px;
        background-color: $gr-white;
        box-shadow: 0px 0px 1px 3px rgba($ln-grey, 0.6);
         @include r(1200){
            min-height: 300px;
        }
        @include r(992){
            min-height: 200px;
        }
        @include r(768){
            padding: 5px;
        }
        @include r(576){
            width: 50%;
            min-height: 150px;
        }
    }

    &__image {
        max-height: 500px;
        height: 100%;
        object-fit: cover;
        @include r(1200){
            max-height: 280px;
        }
        @include r(992){
            max-height: 200px;
        }
        @include r(768){
            margin: auto;
            width: 65%;
        }
        @include r(576){
            width: 80%;
        }

    }

    &__content {
        margin-left: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include r(1200){
            margin-left: 20px;
            width: 100%;
            justify-content: space-between;
        }
        @include r(768){
            margin: 0 10px;
        }
        @include r(768){
            text-align: center;
        }
    }

    &__title,
    &__price {
        color: $black;
    }

    &__title {
        font-size: 40px;
        margin-bottom: 15px;
        @include r(992){
            font-size: 32px;
            margin-bottom: 0;
        }
        @include r(992){
            font-size: 26px;
        }
        
    }

    &__star {
        margin-bottom: 30px;
        @include r(992){
            margin-bottom: 0;
        }
        @include r(768){
            display: none;
        }
    }

    &__price {
        font-size: 30px;
        line-height: 1.5;
        margin-bottom: 15px;
        @include r(992){
              font-size: 20px;
            margin-bottom: 0;
        }
        @include r(768){
            font-size: 28px;
        }
    }

    &__text {
        font-size: 16px;
        color: $ds-blue;
        line-height: 1.9;
        margin-bottom: 30px;
        @include r(992){
            font-size: 14px;
            margin-bottom: 0;
        }
        @include r(768){
            display: none;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 48%;
        font-size: 15px;
        line-height: 2;
        text-transform: uppercase;
        color: white;
        background-color: $ml-blue;
        border-radius: 5px;

        @include r(992){
            padding: 5px 0;
            font-size: 12px;
        }
        @include r(768){
           width: 100%;
        }

        @include hover-supported() {
            background-color: $ds-blue;
        }

    }

    &__list {
        margin-left: 0;
        justify-content: start;
    }

    &__icon {
        margin-right: 12px;
        font-size: 0;
        width: 50px;
        height: 50px;

        background-color: white;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

        svg {
            fill: $ml-blue;
        }

        @include hover-supported() {
            background-color: $ml-blue;

            svg {
                fill: white;
            }
        }
    }

}