<section class="news">
    <div class="container">

        <div class="news__top">

            <h2 class="news__title title">
                Our Insights & Articles
            </h2>

            <a class="news__link" href="#">View All
                <svg>
                    <use xlink:href="images/sprite.svg#news-view"></use>
                </svg>
            </a>

        </div>

        <div class="news__items">

            <article class="news-item">

                <div class="news-item__hidden">
                    <a href="#">
                        <img class="news-item__images" src="images/news/1.jpg" alt="foto news">
                    </a>
                </div>

                <div class="news-item__inner">

                    <div class="news-item__content">

                        <span class="news-item__btn">
                            News
                        </span>

                        <h3 class="news-item__text">
                            <a href="">
                                Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam
                            </a>
                        </h3>

                    </div>

                    <div class="news-item__info">

                        <span class="news-item__data">
                            <svg>
                                <use xlink:href="images/sprite.svg#calendar"></use>
                            </svg>
                            <time datetime="2020-01-28">28 January, 2020</time>
                        </span>

                        <span class="news-item__author">
                            <svg>
                                <use xlink:href="images/sprite.svg#admin"></use>
                            </svg>
                            <span>By Admin</span>
                        </span>

                    </div>

                </div>

            </article>

            <article class="news-item">

                <div class="news-item__hidden">
                    <a href="#">
                        <img class="news-item__images" src="images/news/2.jpg" alt="foto news">
                    </a>
                </div>

                <div class="news-item__inner">

                    <div class="news-item__content">

                        <span class="news-item__btn">
                            News
                        </span>

                        <h3 class="news-item__text">
                            <a href="#">
                                Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore
                            </a>
                        </h3>

                    </div>

                    <div class="news-item__info">

                        <span class="news-item__data">
                            <svg>
                                <use xlink:href="images/sprite.svg#calendar"></use>
                            </svg>
                            <time datetime="2020-01-28">28 January, 2020</time>
                        </span>

                        <span class="news-item__author">
                            <svg>
                                <use xlink:href="images/sprite.svg#admin"></use>
                            </svg>
                            <span>By Admin</span>
                        </span>

                    </div>

                </div>

            </article>

            <article class="news-item">

                <div class="news-item__hidden">
                    <a href="#">
                        <img class="news-item__images" src="images/news/3.jpg" alt="foto news">
                    </a>
                </div>


                <div class="news-item__inner">

                    <div class="news-item__content">

                        <span class="news-item__btn">
                            News
                        </span>

                        <h3 class="news-item__text">
                            <a href="">
                                Rncididunt ut labore et dolore magna aliqua. Ut enim
                            </a>
                        </h3>

                    </div>

                    <div class="news-item__info">

                        <span class="news-item__data">
                            <svg>
                                <use xlink:href="images/sprite.svg#calendar"></use>
                            </svg>
                            <time datetime="2020-01-28">28 January, 2020</time>
                        </span>

                        <span class="news-item__author">
                            <svg>
                                <use xlink:href="images/sprite.svg#admin"></use>
                            </svg>
                            <span>By Admin</span>
                        </span>

                    </div>

                </div>

            </article>

        </div>

    </div>
</section>